In [11]:
import os
import pandas as pd

In [12]:
os.getcwd()

'C:\\Users\\user\\Desktop'

In [13]:
os.chdir('C:\\Users\\user\\Desktop')

In [14]:
df = pd.read_csv("dummy.csv",encoding = 'euc-kr')
df

        grade                      genre Nationality
0    15세이상관람가             액션,어드벤처,범죄,스릴러          영국
1     청소년관람불가                  액션,드라마,전쟁          미국
2     청소년관람불가                 드라마,멜로/로맨스          미국
3       전체관람가                 멜로/로맨스,드라마          중국
4    12세이상관람가                 액션,어드벤처,SF          미국
5    12세이상관람가                      액션,SF          미국
6    12세이상관람가                    드라마,판타지          한국
7     청소년관람불가                         사극          한국
8       전체관람가                 애니메이션,어드벤처          일본
9    12세이상관람가                   어드벤처,판타지          미국
10    청소년관람불가                     액션,드라마          한국
11      전체관람가                 애니메이션,어드벤처          중국
12      전체관람가                     드라마,가족          한국
13   12세이상관람가                어드벤처,가족,판타지          미국
14   12세이상관람가                        드라마          한국
15   15세이상관람가                     범죄,코미디          한국
16   15세이상관람가                   미스터리,드라마          한국
17   15세이상관람가        공포(호러),미스터리,스릴러,드라마          미국
18      전체관람가  애니메이션,어드벤처,가족,코미디,뮤지컬,판타지          미국
19   15세이상관람가             드라마,코미디,멜로/로맨스          한국
20   15세이상관람가                     가족,드라마          한국
21      전체관람가              애니메이션,가족,어드벤처          한국
22      전체관람가                         사극          한국
23   12세이상관람가                  액션,코미디,SF          미국
24   15세이상관람가               미스터리,스릴러,드라마          한국
25   15세이상관람가                   SF,범죄,액션          미국
26   15세이상관람가                         액션          한국
27    청소년관람불가                    드라마,코미디          한국
28   12세이상관람가             애니메이션,판타지,어드벤처          일본
29   12세이상관람가                        드라마          한국
..        ...                        ...         ...
378     전체관람가             애니메이션,어드벤처,판타지          일본
379  15세이상관람가                액션,어드벤처,드라마          미국
380  15세이상관람가                     액션,드라마          한국
381  15세이상관람가                 코미디,멜로/로맨스          미국
382  15세이상관람가                    코미디,드라마          영국
383  12세이상관람가                     드라마,가족          미국
384   청소년관람불가                      범죄,액션          한국
385  15세이상관람가                        드라마          영국
386  12세이상관람가                 드라마,멜로/로맨스          미국
387  12세이상관람가                    액션,어드벤처          미국
388  12세이상관람가                        드라마          미국
389  15세이상관람가                        드라마          이란
390  12세이상관람가                      애니메이션          일본
391   청소년관람불가                        드라마          한국
392  15세이상관람가                        스릴러          한국
393  15세이상관람가                     사극,드라마          한국
394  12세이상관람가                       어드벤처          한국
395  15세이상관람가                     드라마,전쟁          미국
396  12세이상관람가                        드라마          한국
397  15세이상관람가                     액션,판타지          미국
398   청소년관람불가            액션,스릴러,서부극(웨스턴)          미국
399   청소년관람불가                        코미디          한국
400  12세이상관람가                    코미디,드라마          한국
401  12세이상관람가                   어드벤처,판타지          미국
402  12세이상관람가              액션,드라마,SF,스릴러          미국
403     전체관람가             애니메이션,어드벤처,판타지          미국
404   청소년관람불가                        드라마          한국
405   청소년관람불가                      액션,범죄          한국
406  12세이상관람가                        드라마          미국
407  12세이상관람가                        드라마          한국

[408 rows x 3 columns]

In [15]:
ko = []
ameri = []
for i in range(len(df)):
    if df.iloc[i, 2] == "한국":
        ko += "1"
    else:
        ko += "0"
    if df.iloc[i, 2] == "미국":
        ameri += "1"
    else:
        ameri += "0"
Nation_df = pd.DataFrame({'ko' : ko, 'ameri' : ameri})
Nation_df

    ameri ko
0       0  0
1       1  0
2       1  0
3       0  0
4       1  0
5       1  0
6       0  1
7       0  1
8       0  0
9       1  0
10      0  1
11      0  0
12      0  1
13      1  0
14      0  1
15      0  1
16      0  1
17      1  0
18      1  0
19      0  1
20      0  1
21      0  1
22      0  1
23      1  0
24      0  1
25      1  0
26      0  1
27      0  1
28      0  0
29      0  1
..    ... ..
378     0  0
379     1  0
380     0  1
381     1  0
382     0  0
383     1  0
384     0  1
385     0  0
386     1  0
387     1  0
388     1  0
389     0  0
390     0  0
391     0  1
392     0  1
393     0  1
394     0  1
395     1  0
396     0  1
397     1  0
398     1  0
399     0  1
400     0  1
401     1  0
402     1  0
403     1  0
404     0  1
405     0  1
406     1  0
407     0  1

[408 rows x 2 columns]

In [16]:
genre_df = pd.DataFrame({'A' : []})
x = ["액션", "어드벤처", "범죄", "스릴러"]
for x_genre in x:
    col = []
    for i in range(len(df)):
        ch = df.iloc[i, 1].split(",")
        if ch.count(x_genre) == 1:
            col += '1'
        else:
            col += "0"
    col = pd.DataFrame({x_genre : col})
    genre_df = pd.concat([genre_df, col], axis=1)
genre_df

      A 액션 어드벤처 범죄 스릴러
0   NaN  1    1  1   1
1   NaN  1    0  0   0
2   NaN  0    0  0   0
3   NaN  0    0  0   0
4   NaN  1    1  0   0
5   NaN  1    0  0   0
6   NaN  0    0  0   0
7   NaN  0    0  0   0
8   NaN  0    1  0   0
9   NaN  0    1  0   0
10  NaN  1    0  0   0
11  NaN  0    1  0   0
12  NaN  0    0  0   0
13  NaN  0    1  0   0
14  NaN  0    0  0   0
15  NaN  0    0  1   0
16  NaN  0    0  0   0
17  NaN  0    0  0   1
18  NaN  0    1  0   0
19  NaN  0    0  0   0
20  NaN  0    0  0   0
21  NaN  0    1  0   0
22  NaN  0    0  0   0
23  NaN  1    0  0   0
24  NaN  0    0  0   1
25  NaN  1    0  1   0
26  NaN  1    0  0   0
27  NaN  0    0  0   0
28  NaN  0    1  0   0
29  NaN  0    0  0   0
..   .. ..  ... ..  ..
378 NaN  0    1  0   0
379 NaN  1    1  0   0
380 NaN  1    0  0   0
381 NaN  0    0  0   0
382 NaN  0    0  0   0
383 NaN  0    0  0   0
384 NaN  1    0  1   0
385 NaN  0    0  0   0
386 NaN  0    0  0   0
387 NaN  1    1  0   0
388 NaN  0    0  0   0
389 NaN  0    0  0   0
390 NaN  0    0  0   0
391 NaN  0    0  0   0
392 NaN  0    0  0   1
393 NaN  0    0  0   0
394 NaN  0    1  0   0
395 NaN  0    0  0   0
396 NaN  0    0  0   0
397 NaN  1    0  0   0
398 NaN  1    0  0   1
399 NaN  0    0  0   0
400 NaN  0    0  0   0
401 NaN  0    1  0   0
402 NaN  1    0  0   1
403 NaN  0    1  0   0
404 NaN  0    0  0   0
405 NaN  1    0  1   0
406 NaN  0    0  0   0
407 NaN  0    0  0   0

[408 rows x 5 columns]

In [17]:
grade_df = pd.get_dummies(df['grade'])
grade_df

     12세이상관람가  15세이상관람가  전체관람가  청소년관람불가
0           0         1      0        0
1           0         0      0        1
2           0         0      0        1
3           0         0      1        0
4           1         0      0        0
5           1         0      0        0
6           1         0      0        0
7           0         0      0        1
8           0         0      1        0
9           1         0      0        0
10          0         0      0        1
11          0         0      1        0
12          0         0      1        0
13          1         0      0        0
14          1         0      0        0
15          0         1      0        0
16          0         1      0        0
17          0         1      0        0
18          0         0      1        0
19          0         1      0        0
20          0         1      0        0
21          0         0      1        0
22          0         0      1        0
23          1         0      0        0
24          0         1      0        0
25          0         1      0        0
26          0         1      0        0
27          0         0      0        1
28          1         0      0        0
29          1         0      0        0
..        ...       ...    ...      ...
378         0         0      1        0
379         0         1      0        0
380         0         1      0        0
381         0         1      0        0
382         0         1      0        0
383         1         0      0        0
384         0         0      0        1
385         0         1      0        0
386         1         0      0        0
387         1         0      0        0
388         1         0      0        0
389         0         1      0        0
390         1         0      0        0
391         0         0      0        1
392         0         1      0        0
393         0         1      0        0
394         1         0      0        0
395         0         1      0        0
396         1         0      0        0
397         0         1      0        0
398         0         0      0        1
399         0         0      0        1
400         1         0      0        0
401         1         0      0        0
402         1         0      0        0
403         0         0      1        0
404         0         0      0        1
405         0         0      0        1
406         1         0      0        0
407         1         0      0        0

[408 rows x 4 columns]